{% load static %}
<!-- HEADER -->
<header>
	<!-- TOP HEADER -->
	<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				{% if request.user.is_authenticated and not request.user.is_anonymous %}
				<li><a href="#"><i class="fa fa-phone"></i> +02{{ tel }}</a></li>
				<li><a href="#"><i class="fa fa-envelope-o"></i> {{ request.user.email }}</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i> {{ country }}</a></li>
				{% else %}
				<li><a href="#"><i class="fa fa-phone"></i> Phone</a></li>
				<li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i> Address</a></li>
				{% endif %}
			</ul>
			<ul class="header-links pull-right">
				{% if request.user.is_authenticated and not request.user.is_anonymous %}
				<li><a href="#"><i class="fa fa-dollar"></i> {{total}}</a></li>
				<li><a href="#"><i class="fa fa-user-o"></i> {{request.user.username}}</a></li>
				{% else %}
				<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
				<li><a href="{% url 'signin' %}"><i class="fa fa-user-o"></i>Unknown</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<!-- /TOP HEADER -->

	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="#" class="logo">
							<img style="width:169px;height:70px;transform: scale(1.9);" src="{% static './img/8.png' %}" alt="">
						</a>
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form method="GET" action="{% url "store" %}">
							<a href="{% url 'advanced_search' %}" class="input-select" style="height:40px;height: 40px;
							display: inline-block;line-height: 39px;"><i class="fa fa-gears"></i>Advanced</a>
							<input name="title" class="input" placeholder="Search by Name here">
							<button type="submit" class="search-btn">Search</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->

				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Wishlist -->
						<div>
							<a href="#">
								<i class="fa fa-heart-o"></i>
								<span>Your Wishlist</span>
								<div class="qty">2</div>
							</a>
						</div>
						<!-- /Wishlist -->

						<!-- Cart -->
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<i class="fa fa-shopping-cart"></i>
								<span>Your Cart</span>
								<div class="qty">3</div>
							</a>
							<div class="cart-dropdown">
								<div class="cart-list">
									<div class="product-widget">
										<div class="product-img">
											<img src="{% static './img/product01.png' %}" alt="">
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
										</div>
										<button class="delete"><i class="fa fa-close"></i></button>
									</div>

									<div class="product-widget">
										<div class="product-img">
											<img src="{% static './img/product02.png' %}" alt="">
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
										</div>
										<button class="delete"><i class="fa fa-close"></i></button>
									</div>
								</div>
								<div class="cart-summary">
									<small>3 Item(s) selected</small>
									<h5>SUBTOTAL: $2940.00</h5>
								</div>
								<div class="cart-btns">
									<a href="{% url 'cart' %}">View Cart</a>
									<a href="{% url 'payment' %}">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /Cart -->

						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->